<div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="header col-sm-4">
                                <h4 class="title">Birthday Plotting</h4>
                                <p class="category">Birth Days Accross Months</p>
                            </div>
                            <div class="pull-right col-md-2 col-sm-3" >
                                <br>Number Of Employees: {{numofEmployees}}
                            </div>
                            <div class="content table-responsive table-full-width">

							    <table>  
        <tr>  
            <td>  
                Simple Line Chart by dmatangany@yahoo.com &nbsp;
            </td>  
            <td>  

            </td>  
        </tr>  
    </table>  
  
    <br />  
  
    <div id="container"></div>  

                            </div>
                        </div>
                    </div>




                </div>
