<div class="row">
                    <div class="col-md-6">
                     <iframe width="100%" height="510" src="https://app.powerbi.com/view?r=eyJrIjoiNTg3NTgwNWMtOTJkMi00ZmI1LWJlMWItYWNlM2JmNjYyNDkxIiwidCI6IjkyNDU0MzM1LTU2NGUtNGNjZi1iMGIwLTI0NDQ1YjhjMDNmNyIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
                    <div class="col-md-6">
                       <iframe width="100%" height="510" src="https://app.powerbi.com/view?r=eyJrIjoiZTIyNjlhNGMtZjdiMS00ZDQ4LWI5MmUtOGE2NTlhMWJkYzFkIiwidCI6IjkyNDU0MzM1LTU2NGUtNGNjZi1iMGIwLTI0NDQ1YjhjMDNmNyIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
                    </div>
</div>
