<div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header col-sm-4">
                                <h4 class="title">Employees</h4>
                                <p class="category">Here is the list of employees</p>
                            </div>
                            <div class="pull-right col-md-2 col-sm-3">
                                <br>
                               <a data-ui-sref="createEmployee"> 
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                        <th>Index</th>
                                        <th>Position</th>
                                    	<th>First Name</th>
                                        <th>Last name</th>
                                    	<th>Email</th>
                                    	<th>Birth Date</th>
                                    	<th>Phone Number</th>
                                    	<th>Gender</th>
                                    	<th>Race</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="employee in employees track by $index">
                                        	<td>{{$index+1}}</td>
                                        	<td>{{employee.position.name}}</td>
                                        	<td>{{employee.user.first_name}}</td>
                                        	<td>{{employee.user.last_name}}</td>
                                        	<td>{{employee.email}}</td>
                                        	<td>{{employee.birth_date}}</td>
                                        	<td>{{employee.phone_number}}</td>
                                        	<td>{{employee.gender}}</td>
                                        	<td>{{employee.race}}</td>
                                                <td>
                                                <a data-ui-sref="editRelationChart({id:{{employee.user.id}} })"><i class="fa fa-eye" aria-hidden="true" style="color: #0099cc; cursor: pointer;"></i></a>
                                                <a data-ui-sref="editRelationChart({id:{{employee.user.id}} })"><i class="fa fa-pencil" aria-hidden="true" style="color: #339966; cursor: pointer;"></i></a>
                                                <a data-ng-click="editRelationChart({id:{{employee.user.id}} })"><i class="fa fa-trash" aria-hidden="true"  style="color: #cc3300; cursor: pointer;"></i></a>
                                            </td>
                                        </tr>
                                    
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>




</div>


