<div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="header col-sm-4">
                                <h4 class="title">My Profile View</h4>
                                <p class="category">User: {{fullname}} || Active Status: {{activestatus}}</p>
                            </div>
                            <div class="pull-right col-md-2 col-sm-3" >
                                <br>{{username}}: [{{email}}]
                            </div>
                            <div class="content table-responsive table-full-width">

							    <table>  
        <tr>  
            <td>  
                USER PROFILE INFORMATION  &nbsp;
            </td>  
            <td>  
			2018
            </td>  
        </tr>  
    </table>  
  
    <br />  
  
    <div id="container"></div>  

                            </div>
                        </div>
                    </div>

<table style="font-family:'Arial Rounded MT';" class="table">
    <tr>
        <td>
           Email
        </td>
        <td>
		{{employeeprofile.email}}
        </td>
    </tr>
    <tr>
        <td>
           GitHub User
        </td>
        <td>
		{{employeeprofile.github_user}}
        </td>
    </tr>
    <tr>
        <td>
           Gender
        </td>
        <td>
		{{employeeprofile.gender}}
        </td>
    </tr>	
    <tr>
        <td>
           Birth Date
        </td>
        <td>
		{{employeeprofile.birth_date}}
        </td>
    </tr>
    <tr>
        <td>
          Days To Birthday
        </td>
        <td>
		{{employeeprofile.days_to_birthday}}
        </td>
    </tr>
    <tr>
        <td>
          Leave Remaining
        </td>
        <td>
		{{employeeprofile.leave_remaining}}
        </td>
    </tr>
    <tr>
        <td>
          Next Review
        </td>
        <td>
		{{employeeprofile.next_review}}
        </td>
    </tr>	
    <tr>
        <td>
          Race
        </td>
        <td>
		{{employeeprofile.race}}
        </td>
    </tr>	
    <tr>
        <td>
          Start Date
        </td>
        <td>
		{{employeeprofile.start_date}}
        </td>
    </tr>	
	    <tr>
        <td>
          Tax Number
        </td>
        <td>
		{{employeeprofile.tax_number}}
        </td>
    </tr>	
    </table>
	


                </div>


